<header class="header">
    <div class="header-container">
        <a href="/" class="logo">PLXBD.COM</a>
        <nav class="main-nav">
            <ul>
                <li><a href="/movies">Movies</a></li>
                <li><a href="/tv-series">TV Series</a></li>
                <li><a href="/anime">Anime</a></li>
                <li><a href="https://t.me/plxbd" target="_blank">Telegram</a></li>
            </ul>
        </nav>
        <div class="search-box">
            <input type="text" placeholder="Search movies, series, anime...">
        </div>
    </div>
</header>
